* {
  all: unset;
}

tooltip {
  background-color: black;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  // border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0px;
  // padding-right: 10px;
}

.topbar {
  font-size: 30px;
}

.workspaces {
  font-size: 14px;
  color: white;

  .workspace {
    border-radius: 5px;
    border: 1px solid white;

    .btn {
      padding: 2px 8px; // top-bottom left-right
    }
  }
}

.cpu {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.ram {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.disk {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.tray {
  padding-right: 20px;
}

.datetime {
  font-size: 14px;
  color: white;
  min-width: 145px;
  // background-color: black;
}

.calwindow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  .calbox {
    padding: 10px;
  }

  .current,
  .active,
  .today,
  .selected,
  .now,
  .day {
    background-color: rgba(255, 0, 0, 1);
  }

  // .cal.day {
  //   padding: 10px;
  // }
}
