* {
  all: unset;
}

tooltip {
  background-color: black;
}

.main {
  background-color: darkgreen;
  border: 2px solid white;
  border-radius: 8px;
  padding-left: 10px;
  // padding-right: 10px;
}

.example {
  font-size: 30px;
}

.cpu {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.ram {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.disk {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}

.tray {
  padding-right: 20px;
}

.datetime {
  font-size: 14px;
  color: white;
  min-width: 145px;
  // background-color: black;
}

.cal {
  background-color: green;
  border-radius: 10px;
}
